* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

header {
  background-color: #333;
  height: 3em;
  color: #fff;
  margin-bottom: 1em;
}

header h1 {
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
}
header h2 {
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
}

header .container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
}

section {
  margin: 2em 0;
  overflow: hidden;
}

section h2 {
  font-size: 3em;
  display: block;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5em;
}

table {
  width: 100%;
  margin-bottom: 0.5em;
  table-layout: fixed;
  overflow-x: auto;
}

td,
th {
  padding: 0.7em;
  margin: 0;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #eee;
}

label {
  color: #555;
  display: block;
  margin-bottom: 0.2em;
}

.campo {
  margin: 0;
  padding-bottom: 1em;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.7em;
  width: 100%;
}

.campo-medio {
  display: inline-block;
  padding-right: 0.5em;
}

.grupo {
  width: 32%;
  display: inline-block;
  padding: 10px 0px;
}

button {
  padding: 0.5em 2em;
  border: 0;
  border-bottom: 3px solid;
  font-size: 1.2em;
  cursor: pointer;
  margin: 0;
  margin-top: -3px;
  color: #fff;
  background-color: #0c8cd3;
  border-color: #04324c;
  width: 20%;
  display: block;
  clear: both;
  margin: 10px 0px;
}

button:active {
  margin-top: 0px;
  border: 0;
}

button[disabled="disabled"],
button:disabled {
  background-color: gray;
  border-color: darkgray;
}

.adicionar-paciente {
  margin-top: 30px;
}

.campo-invalido {
  border: 1px solid red;
}

.paciente-invalido {
  background-color: lightcoral;
}

#mensagens-erro {
  color: red;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fadeOut {
  opacity: 0;
  transition: 0.5s;
}

#filtrar-tabela {
  width: 200px;
  height: 35px;
  margin-bottom: 10px;
}

.invisivel {
  display: none;
}

.form-cep {
  margin-top: 15px;
  border: 2px solid lightgray;
  padding: 10px;
  margin-bottom: 20px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.hidden {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
